<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href= "css/form.css">
    <link rel="stylesheet" href= "css/auth.css">
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form method="post" action="/log-in" class="login-form">
            <div class="form-control">
            <label for="user-name">Email</label>
            <input type="email" id="user-name" name="email">
        </div>
        <div class="form-control">
            <label for="password">Enter password</label>
            <input id="password" name="password" type="password">
            <button>Log in</button>
        </div>
        </form>
    </main>
    
</body>
</html>