<%- include('../includes/header.ejs') %>
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form method="post" action="add-post">
            <label for="post-title">Add post title</label>
            <input type="text" id="post-title" name="title">
            <label for="post-message">Add message</label>
            <textarea id="post-message" name="message" rows="4" cols="50"></textarea>
            <button>Add post</button>
        </form>
    </main>
    
</body>
</html>