<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === 'allposts'? 'active': '' %>" href="/">Home</a></li>
            <li class="main-header__item"><a class="<%= path === 'addpost'? 'active': '' %>" href="/add-post">Add post</a></li>
            <li class="main-header__item"><a class="<%= path === 'adminposts'? 'active': '' %>" href="/admin-posts">My posts</a></li>
            <li class="main-header__item"><a class ="<%= path === 'login'? 'active': '' %>" href="/log-in">Log in</a></li>
          
        </ul>
    </nav>
</header>