<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title><%= pageTitle %></title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Home</a></li>
                <li class="main-header__item"><a href="/add-post">Add post</a></li>
                <li class="main-header__item"><a href="/log-in">Log in</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form method="post" action="add-post">
            <label for="post-title">Add post title</label>
            <input type="text" id="post-title" name="post-title">
            <label for="post-message">Add message</label>
            <textarea id="post-message" name="post-message" rows="4" cols="50"></textarea>
            <button>Add post</button>
        </form>
    </main>
    
</body>
</html>