<%- include('../includes/header.ejs') %>
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form method="post" action="add-post">
            <label for="user-name">Enter username</label>
            <input type="text" id="user-name" name="user-name">
            <label for="password">Enter password</label>
            <input id="password" name="password" >
            <button>Log in</button>
        </form>
    </main>
    
</body>
</html>